
<ion-content text-center>

	<div class="bg">
    <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button> 
    </ion-buttons>
    <div class="header">
      <h1 >215</h1>
      <h1 >Sekolah Dasar</h1>
    </div >

 
         <ion-card class="atas">       
          <ion-card-content >                 
              <ion-item>
                <ion-icon name="search"></ion-icon> &nbsp;
                <ion-input type="text" placeholder="Search"> </ion-input>  
              </ion-item>
          </ion-card-content>
        </ion-card>
     

    <ion-card color="light" class="card" *ngFor="let data of dataSekolah">
          <ion-row class="card-content">
            <ion-col size="4">
              <div>
                <img src="http://localhost/ta_backend/sekolah/image/{{data.username}}/{{data.nama_foto}}.{{data.extention}}" alt=""> &nbsp;
              </div>
              </ion-col>
            <ion-col>
              <ion-row>
                <div class="nama">
                  {{data.nama_sekolah}}
                </div>
                <div class="rating">
                  Rating : {{data.rating}} 
                </div>
              </ion-row>
              <br>
              <ion-row class="card-action">  
                            
                <ion-button color="success"  routerLink="/sekolah-view/{{data.idinfo_sekolah}}"><ion-icon name="eye"></ion-icon></ion-button>&nbsp; 
                <ion-button color="warning"><ion-icon name="create"></ion-icon></ion-button> &nbsp;
                <ion-button color="danger" (click)="peringatan()"><ion-icon name="trash"></ion-icon></ion-button> &nbsp;
              </ion-row>     
            </ion-col>
          </ion-row>                          
    </ion-card>

  </div> 
  
 
</ion-content>


  <ion-fab horizontal="end" vertical="end" slot="fixed" class="fab" routerLink="/sekolah-create">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>




