.tambah{
    

    ion-icon{
        margin-top: 10px;
        color: blue;
        font-size: 35px;
    }
    a{
        
        color: blue;
        font-size: 20px;
    }

    margin-bottom: 20px;
}