ion-label{
    font-size: 40px;
}

.foto{
    border : 1px solid black;
    border-style: dotted;
    width: 25%;
    height: 100px;
    text-align: center;    
    font-size: 50px;
}

.coba{
   margin-top: 25px;
}

.imgs{
    height: 100px;
}

ion-textarea{
    height: 100px;
}

