<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
    <ion-title >
      Sekolah
    </ion-title>   
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2><b>Fasilitas Sekolah</b></h2>
  <ion-radio-group value="internet" [(ngModel)]="internet" (ionChange)="optionsInternet()">
    <ion-list-header>
      <h5>Internet</h5>
    </ion-list-header>

    <ion-item>
      <ion-label>Ada</ion-label>
        <ion-radio slot="start" color="success" value="ya"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Tidak</ion-label>
        <ion-radio slot="start" color="danger"  value="tidak"></ion-radio>
      </ion-item>
  </ion-radio-group>

  <ion-radio-group value="ruangAc" [(ngModel)]="ruangAc" (ionChange)="optionsAc()">
    <ion-list-header>
      <h5>Ruangan ber AC</h5>
    </ion-list-header>

    <ion-item>
      <ion-label>Ya</ion-label>
        <ion-radio slot="start" color="success" value="ya"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Tidak</ion-label>
        <ion-radio slot="start" color="danger"  value="tidak"></ion-radio>
      </ion-item>
  </ion-radio-group>

  <ion-radio-group value="Listrik" [(ngModel)]="listrik" (ionChange)="optionsListrik()" >
    <ion-list-header>
      <h5>Listrik</h5>
    </ion-list-header>

    <ion-item>
      <ion-label>Ada</ion-label>
        <ion-radio slot="start" color="success" value="ya"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Tidak</ion-label>
        <ion-radio slot="start" color="danger"  value="tidak"></ion-radio>
      </ion-item>
  </ion-radio-group>
  <ion-item *ngIf="daya == true">
    <ion-label>Daya listrik : </ion-label>
    <ion-input placeholder="ex : 900 - 2000" (input)="inputDayaListrik($event)"></ion-input> WATT
  </ion-item>

  <ion-item>
    <ion-label>Luas Tanah : </ion-label>
    <ion-input placeholder="ex : 25,000" (input)="inputLuasTanah($event)"></ion-input> M <sup>2</sup>
  </ion-item>

  <ion-item>
    <ion-label>Jumlah Kelas : </ion-label>
    <ion-input placeholder="ex : 100"(input)="inputJumlahKelas($event)"></ion-input> Kelas
  </ion-item>

  <ion-item>
    <ion-label>Jumlah Laboratorium : </ion-label>
    <ion-input placeholder="2" (input)="inputJumlahLab($event)"></ion-input> Laboratorium
  </ion-item>

  <ion-item>
    <ion-label>Jumlah Perpustakaan : </ion-label>
    <ion-input placeholder="2" (input)="inputPerpus($event)"></ion-input> Perpustakaan
  </ion-item>

  <ion-item>
    <ion-label><b>Letak Sekolah</b> </ion-label>    
  </ion-item> 

  <ion-item>
    <ion-label>Koordinat X : </ion-label> 
    <ion-input placeholder="7.908983" (input)="inputX($event)"></ion-input> <br>
    <ion-label>Koordinat Y : </ion-label> 
    <ion-input placeholder="-6.908983" (input)="inputY($event)"></ion-input> 
  </ion-item>

  <ion-item>
    <ion-label>Keterangan Tambahan : </ion-label>
    <ion-textarea (input)="inputKeterangan($event)"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Foto Sekolah : </ion-label>    
  </ion-item>  

  <ion-item>
  <div *ngIf="img1 =='' " class="foto" >
    <ion-icon class="coba" name="add" color="primary" ></ion-icon>
    <ion-input class="filegambar" type="file" accept="image/*" (change)="changeListener($event,1)"></ion-input>
  </div>
  <div *ngIf="img1" class="foto" >
    <img src="{{img1}}" class="imgs">
  </div>

  <div  *ngIf="img2 =='' " class="foto">
    <ion-icon class="coba" name="add" color="primary" ></ion-icon>
    <ion-input class="filegambar" type="file" accept="image/*" (change)="changeListener($event,2)"></ion-input>
  </div>
  <div *ngIf="img2" class="foto" >
    <img src="{{img2}}" class="imgs">
  </div>

  <div  *ngIf="img3 =='' " class="foto">
    <ion-icon class="coba" name="add" color="primary" ></ion-icon>
    <ion-input class="filegambar" type="file" accept="image/*" (change)="changeListener($event,3)"></ion-input>
  </div>
  <div *ngIf="img3" class="foto" >
    <img src="{{img3}}" class="imgs">
  </div>

  <div  *ngIf="img4 =='' " class="foto">
    <ion-icon class="coba" name="add" color="primary" ></ion-icon>
    <ion-input class="filegambar" type="file" accept="image/*" (change)="changeListener($event,4)"></ion-input>
  </div>
  <div *ngIf="img4" class="foto" >
    <img src="{{img4}}" class="imgs">
  </div>

</ion-item>
  
 <br>
  <div >
    <ion-button color="success" class="button-action" (click)="Create()">SAVE</ion-button>&nbsp; 
    <ion-button color="danger" routerLink="/ekstrakurikuler-admin">CANCEL</ion-button>
  </div>
</ion-content>
